.grid{
    box-shadow:  -2px 24px 19px 1px rgba(93, 84, 34, 0.448);
    border-radius: 10rem;
    height: 90vh;
    background-color: #f6dc58;
    padding-left: 0.5rem;
}
.dragbox{
    box-shadow: -2px 22px 19px -10px rgb(164, 161, 76);
    overflow: hidden;
    position: absolute;
    margin: 1vw 0vw 0vw 1vw;
    max-width: 80vw;
    max-height: fit-content;
    border-radius: 9rem;
    z-index: -0;
}
.stuff{
    position: relative;
    min-width: 100%;
    min-height: 100%;
}
.smaller{
    position: absolute;
    height:5%;
    cursor: pointer;
    left:20%;
    top:10%
}
.inputBox{
    position: relative;
    width: 15%;
    margin-left: auto;
    margin-top: 5%;
    margin-right: 3%;
}
.X{
    right:2%;
    width: 1%;
    z-index: 3;
}
.Y{
    z-index: 3;
}
.hidden{
    display: none;
}
.addBox{
    position: absolute;
    top:10%;
    display: flex;
    z-index: 6;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width: 50vw;
    height:70vh;
    border-radius: 100px;
    left:20vw;

    background-color: gray;
}
.Backk{
    position: relative;
    right:-40%;
    top:-20%;

    width:30px;
    color: rgb(255, 255, 255);
    outline: black;
    font: bolder;
    cursor: pointer;
}
.Return{
    position: relative;
    right: -55%;
    top:15%;
    width:30px;
    color: rgb(255, 255, 255);
    outline: black;
    font: bolder;
    cursor: pointer;
    z-index: 50;
}
.hiddenaddBox{
    display: none;
}
.modelBox{
    position: absolute;
    top:0%;
    z-index: 6;
    width: 100vw;
    height:80vh;
    right:-15vw;
    border-radius: 100px;
    pointer-events: none;
}
.yearBox{
    width: 20%;
}
.linkBox{
    width: 80%;
}
.previewImage{
    width: 20%;
}
.imageBox{
    display: flex;
}
.CoTitleContainer{
    height: fit-content;
    display: flex;
    flex-direction: row;
    max-width: inherit;
}
.CoordContainer{
    height: fit-content;
    display: flex;
    flex-direction: row;
    max-width: inherit;
}