.body{
size:100%
}
.mapgridbackground{
  background-color: #0000;
  padding-left: 0.5rem;
}
.mapgrid{
  border-radius: 10rem;
  height: 38rem;
  background-color: #f6dc58;
  transition: ease 1s;
}
.mapgrid:hover{
  border-radius: 10rem;
  height: 44rem;
  background-color: #f6dc58;
  transition: ease 1s;
}
.mapgrid:hover .maptitle{
  size: 20rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 40.5rem 0rem 0rem 45rem;
  float: middle;
  color: #ffffff;
  border-radius: 25px;
  transition: ease 1s;
}

.mapgrid2{
  border-radius:5rem;
  height: 80rem;
  background-color: #eba345;
}
.mapgrid3{
  background-color: #565458;
  height: 120rem;
  border-radius: 9rem;
  max-width: 99%;max-height: 99%;
}

.firstmapclicked{
  overflow: hidden;
  position: absolute;
  margin: 2rem 0rem 0rem 5rem;
  float: middle;
  transition: ease 0.5s;
  max-width: 80%;
  max-height: 80%;
  border-radius: 9rem;
  transition: ease 0.5s;
  cursor: grab;
}

.firstmap{
 overflow: hidden;
 position: absolute;
 margin: 2rem 0rem 0 0rem;
 float: left;
 max-width: 70%;
 max-height: 70%;
 border-radius: 14rem;
 transition: ease 0.5s;
}
.firstmap:hover{
  overflow: hidden;
  float: left;
  max-width: 75%;
  max-height: 75%;
  border-radius: 9rem;
  transition: ease 0.5s;
  cursor: grab;
 }

 .middlemap{
  float:right;
  margin: 1rem 2rem 0 0;
  padding-right:1rem;
  size: 40%;
  max-width: 70%;
  max-height: 40%;
  border-radius: 12rem;
  transition: ease 0.5s;
}
.middlemap:hover{
  float: right;
  max-width: 80%;
  border-radius: 7rem;
  transition: ease 0.5s;
 }
 .lastmap{
  overflow: hidden;
  margin: 2rem 2rem 0 0;
  padding-bottom: 20px;
  padding-left: 1rem;
  float: left;
  max-width: 60%;
  border-radius: 10rem;;
  transition: ease 0.5s;
}
.lastmap:hover{
  overflow: hidden;
  padding-bottom: 2px;
  float: left;
  max-width: 70%;
  max-height: 80%;
  border-radius: 4rem;
  transition: ease 0.5s;
 }
 
.maptitle{
  size: 20rem;
  font-size: 20px;
  font-weight: bold;
  padding: 36rem 0rem 0rem 35rem;
  float: middle;
  color: #ffffff;
  border-radius: 25px;
  transition: ease 1s;
}
.middlemaptitle{
  size: 20rem;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20%;
  padding-top: 20%;
  float: right;
  color: #ffffff;
  border-radius: 25px;

}

.slideContainer{
  position: absolute;
  width:50%;
  bottom:-10%;
  right:25%;
  overflow: visible;
}
.Slide{
  overflow: visible;
}

.MapOverlay{
  position: absolute;
  z-index: 100;
}
.hidden{
  display:none;
  pointer-events: none;
}
.overlay{
  pointer-events: none;
  opacity: 0%; 
}
img{
  transition: opacity 0.5s linear;
}